#navigation{
    background-color: red;
    flex-direction: column;
}
.ul-list{
    flex-direction: column;
    background-color: black;
    
}
#logo{
    align-items: center;
    justify-content:ce;
}

#logo-h{
    
    padding: 0px 0px;
    text-align: center;
}

#logo-p{
    padding: 0px;
    text-align: center;
}
.mainbox{
    flex-direction: column;
    
}
.box{
    margin: auto;
}
#course{
    
    
    height: 100%;
   
}
div img{
    width: auto;
    
    margin: 13px;
}


#home{
    height: 100%;
    width: 100%;

    
}


.main2{
    
    width:100%;
    height:auto;
    display: flex;
    flex-direction: column;
}
.main3{
    margin:15px;
    width: auto;
    height: auto;
    border-radius: 50px;
    opacity: 0.5;
    box-shadow: 30px -30px 20px  rgb(12, 14, 7);
    background-color: bisque;
}
.main4{
    margin:15px;
    
    width: auto;
    height: auto;
    border-radius: 50px;
    opacity: 0.7;
    box-shadow: -20px 10px 20px  rgb(166, 170, 154);
    background-color: rgb(29, 26, 21);
    
}




.main4:hover{
    margin: 15px;
    width: auto;
    height: auto;
    border-radius: 50px;
    opacity: 0.7;
    box-shadow: -20px 10px 20px  rgb(166, 170, 154);
    background-color: rgb(29, 26, 21);

}
.main3:hover{
    margin: 10px;
    width: auto;
    height: auto;
    border-radius: 50px;
    opacity: 0.7;
    box-shadow: -20px 10px 20px  rgb(166, 170, 154);
    background-color: rgb(201, 198, 194);

}

.mainhead{
    font-size: 55px;
    color: beige;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    

}
.mainhead:hover{
    font-size: 55px;
    color: rgb(210, 203, 96);
    text-shadow:2px 2px 4px aliceblue;
    
}
.mainhead1{
    font-size: 55px;
    color: rgb(4, 4, 4);
    text-align: center;
    margin-top: -3px;
    
    

}

